* {
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #ffffe8;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;

  width: 350px;
  height: 60px;
  -webkit-box-shadow: 2px 3px 12px -1px rgba(170, 203, 115, 1);
  -moz-box-shadow: 2px 3px 12px -1px rgba(170, 203, 115, 1);
  box-shadow: 2px 3px 12px -1px rgba(170, 203, 115, 1);
}

h1 {
  text-align: center;
  padding-top: 30px;
}

.todo-input-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.input-box {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #cde990;
}

.todo-input-button {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #cde990;
  background-color: #cde990;
  cursor: pointer;
}
.todo-item-checkbox {
  cursor: pointer;
}

.todo-item-text {
  padding: 10px 5px;
}

.todo-item-text-line-through {
  text-decoration: line-through;
  color: rgb(182, 176, 176);
}

.delete-button {
  background: none;
  border: none;
  color: #f94a29;
  cursor: pointer;
}
